<p id="notice"><%= notice %></p>

<p>
  <strong>Winner 1:</strong>
  <%=@winners.first.name%>
</p>

<p>
  <strong>Winner 2:</strong>
  <%=@winners.last.name%>
</p>

<%= link_to 'Edit', edit_week_path(@week) %> |
<%= link_to 'Back', weeks_path %>
