<p id="notice"><%= notice %></p>

<h1>Scorecards</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Week</th>
      <th>Leg win</th>
      <th>Second</th>
      <th>Third</th>
      <th>Bleeps</th>
      <th>Steals</th>
      <th>Power use</th>
      <th>Power pass</th>
      <th>Fall</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scorecards.each do |scorecard| %>
      <tr>
        <td><%= scorecard.player_id %></td>
        <td><%= scorecard.week_id %></td>
        <td><%= scorecard.leg_win %></td>
        <td><%= scorecard.second %></td>
        <td><%= scorecard.third %></td>
        <td><%= scorecard.bleeps %></td>
        <td><%= scorecard.steals %></td>
        <td><%= scorecard.power_use %></td>
        <td><%= scorecard.power_pass %></td>
        <td><%= scorecard.fall %></td>
        <td><%= link_to 'Show', scorecard %></td>
        <td><%= link_to 'Edit', edit_scorecard_path(scorecard) %></td>
        <td><%= link_to 'Destroy', scorecard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scorecard', new_scorecard_path %>
